<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Hole</th>
						<th>Par</th>
						<th>S.I</th>
						<th ng-repeat='(name, val) in myPlayers'>{{name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='(key, hole) in courseHoles'>
						<td>{{hole.Hole}}</td>
						<td>{{hole.Par}}</td>
						<td>{{hole.strokeIndex}}</td>
						<td ng-repeat="player in myPlayers">{{player.Scores}}</td>
						<!-- Input boxes here and scores displayed for prior holes -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>